.navbarOptions{
    list-style: none;
    font-family: Segoe UI, Semibold;
    font-size: 120%;
    color: #0e6615;
    font-weight: 600;
    gap: 1em; 
}
.navbarOptions li{
    cursor: pointer;
    opacity: 1;

}
.navbarOptions li:hover{
   border-bottom: 2px solid #11521a;
   display: inline-block;      
}
.logo{
    height: 5em;
    margin-left: 5em;
}