
<div>
    <nav class="navbar ">
     <div>
       <img class="logo" src="../../assets/Artboard – 1.png" alt="">
     </div>
     <div class="">
        <ul class="navbarOptions d-flex justify-content-around">
            <li class="mx-auto mt-2 px-2 " routerLink="/home">Home</li>
            <li class="mx-auto mt-2 px-2" routerLink="/service">Service</li>
            <li class="mx-auto mt-2 px-2" routerLink="/gallery">Gallery</li>
            <li class="mx-auto mt-2 px-2" routerLink="/cotraveller">Co-Traveller</li>
            <li class="mx-auto mt-2 px-2">FAQs</li>
            <li class="mx-auto mt-2 px-2" routerLink="/contactus">Contact-Us</li>
            <li class="mx-auto mt-2 px-2" routerLink="/register">Resgister</li>
            
            <div>
                <p class="mx-auto mt-2 px-2"><img src="../../assets/icons8-menu-bar.svg"></p>
             </div>
        </ul>
     </div>
    

    </nav>
</div>