<div class="heads">
    <h1>Contact Us</h1>
</div>
<div class="imgstyle">
    <img src="../../assets/Path 1385.svg">
</div>
<div class="imgstyle2">
    <img src="../../assets/Path 1385.svg">
</div>

<div class="container">
    <div class="d-grid position">
        <div class="email  m-3 p-2">
            <h2 class="col-4"><b>Email</b></h2>
            <input class="col-10" type="text" placeholder="Enter email">
        </div>
        <div class="message  m-3 p-2">
            <h2 class="col-5"><b>Message</b></h2>
            <textarea class="col-10" type="text" placeholder="Enter message"></textarea>
        </div>
        <button class="btn btn-success col-3 ">Send</button>
        <div>
            <div  class="d-flex">
            <button class="btn btn-ligh col-3 lastbtn"><img src="../../assets/icons8-message-24.png">  Message</button>
            <button class="btn btn-ligh col-3 lastbtn"><img src="../../assets/icons8-phone-24.png">  Get a Call</button>
        </div>
        </div>
    </div>
</div>