<div class="container-fluid">
    <div class="d-grid">
        <div class="row">
        <div class="col-md-10 text-center">
             <h2>Ensuring safety of food from</h2>
            <h1><b><span class="text">Farm</span><span class="text2"> to Fork</span></b></h1>
        </div>
       
        <div class="col-6 col-md-2">
            <img src="../../assets/Group 171.svg" >
        </div>
      </div>  
    </div>
</div>
<div class="workinpogress"> 
   <h2>Work in Progress 😌 Sorry For Your Inconvenience</h2>
</div>
