<div class="heads">
    <h1>Food Lab Food Safety Services</h1>
</div>

<div class="container d-flex">
    <div>
        <img class="parentImg" src="../../assets/Path 1385.svg">
        <img class="imgOne" src="../../assets/Path 1377.svg">
        <img class="imgTwo" src="../../assets/Image 20.png">
        <img class="imgThree" src="../../assets/Image 21.png">
        <img class="imgFour" src="../../assets/Image 22.png">
    </div>
    <div class="texts">
    Aperiam quia sapiente vel consequatur consequatur omnis sed autem quae. Ipsa et minus consequatur vero et doloribus.
    Ex error illum consequatur amet ea occaecati odit. Quia similique dolorum officiis distinctio magnam ut facilis. Et
    dolore est inventore ea et molestiae earum.
    </div>

</div>